@model Sneaker.Models.Product
@{
    ViewBag.Title = Model.ProductName;
}

<h2>Кроссовки @Model.ProductName</h2>
    <div>
        <dl class="dl-horizontal">
            <dt>Описание</dt>
            <dd>@Model.ProductName</dd>           
        </dl>

    </div>