@model Sneaker.Models.Sneaker
@{ 
<html>
    <head>
        <title>Админка</title>
    </head>
    <body>
        <br />
        <a asp-action="Index" asp-controller="Category">Категории </a>
        <br />
        <a asp-action="Index" asp-controller="Brand">Бренды </a>
        <br />
        <a asp-action="Index" asp-controller="Material">Материалы </a>
        <br />
        <a asp-action="Index" asp-controller="Sneaker">Кроссовки </a>
        <br />
        <a asp-action="Index" asp-controller="Img">Изображения </a>
        <br />
        <a asp-action="Index" asp-controller="Product">Товары </a>
        <br />
        <a asp-action="Index" asp-controller="Size">Размеры </a>
        <br />
        <a asp-action="Index" asp-controller="ProductSize">Размеры кроссовок </a>
        <br />
        <a asp-action="Index" asp-controller="User">Пользователи</a>
        <br />
        <a asp-action="Index" asp-controller="Roles">Роли</a>
    </body>
</html>
}