@model IEnumerable<Sneaker.Models.Img>
@{
    ViewBag.Title = "Список изображений";
}

<html>
<head>
</head>
<body>
    <a asp-action="Create">Добавить изображение</a>
    <table class="table">
        <tr><td>Картинка</td></tr>
        @foreach (var item in Model)
        {
        <tr>
            
            <td><img src="@item.ImgUrl" height="285" width="285" /></td>
            <td></td>
            <td>
                <a asp-action="Edit" asp-controller="Img" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Delete" asp-controller="Img" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
        }
    </table>
</body>
</html>