@model IEnumerable<Sneaker.Models.ProductSize>
@{
    ViewBag.Title = "Список размеров моделей";
}
<html>
<head>
</head>
<body>
    <a asp-action="Create">Добавить кросcовки</a>
    <table class="table">
        <tr><td>Название кроссовка</td><td>Размер</td></tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Number</td>
            <td>
               
            </td>
        </tr>
        }
    </table>
</body>
</html>