@model Sneaker.Models.Material
@{
    ViewBag.Title = Model.MaterialName;
 }

<h2>Бренд @Model.MaterialName</h2>
    <div>
        <dl class="dl-horizontal">
            <dt>Описание</dt>
            <dd>@Model.Description</dd>

        </dl>

    </div>