@model Sneaker.ViewModel.LoginViewModel
@{  
<html>
<head>
    <link href="~/css/sneakerStyle.css" rel="stylesheet">
</head>
<body>
    <div class="text-center sticky-top">
        <h2>Вход </h2>
        <form method="post" asp-controller="Account" asp-action="Login"
              asp-route-returnUrl="@Model.ReturnUrl">
            <div class="xyz">
                <div asp-validation-summary="ModelOnly"></div>
            </div>

            <span asp-validation-for="UserName"></span>
            <div>
                <input asp-for="UserName" placeholder="UserName" />
            </div>
            <span asp-validation-for="Password"></span>
            <div>
                <input asp-for="Password" placeholder="Password" />
            </div>
            <div>
                <input type="submit" value="Войти" />
            </div>
        </form>
    </div>
</body>


</html>
}