@model Sneaker.ViewModel.RegisterViewModel

@{
<html>
<head>

</head>
<body>
    <div class="text-center"    >
        <h2>Регистрация нового пользователя</h2>
        <form method="post" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="ModelOnly"></div>
            <span asp-validation-for="UserName"></span>
            <div>
                <input asp-for="UserName" placeholder="UserName" />
            </div>
            <span asp-validation-for="Email"></span>
            <div>
                <input asp-for="Email" placeholder="Email" />
            </div>
            <span asp-validation-for="Password"></span>
            <div>
                <input asp-for="Password" placeholder="Password" />
            </div>
            <span asp-validation-for="PasswordConfirm"></span>
            <div>
                <input asp-for="PasswordConfirm" placeholder="PasswordConfirm" />
            </div>
            <br>
            <div>
                <input class="btn btn-success" type="submit" value="Регистрация" />
            </div>
        </form>
    </div>
</body>

   


</html>
}   