@model IEnumerable<Sneaker.ViewModel.ProductView>

@{


    foreach (var product in Model)
    {

        <div>
            <a asp-action="Details" asp-controller="ProductView" asp-route-id="@product.Id">
                <img src="@product.UrlImage" height="278" width="278" />
                <div>
                    <p>@product.Name</p>
                    <p>$@product.Price</p>
                </div>
            </a>
        </div>


    }

}