@model Sneaker.Models.Brand
@{
    ViewBag.Title = Model.BrandName;
 }

<h2>Бренд @Model.BrandName</h2>
    <div>
        <dl class="dl-horizontal">
            <dt>Описание</dt>
            <dd>@Model.Description</dd>

        </dl>

    </div>