@model Sneaker.Models.Sneaker
@{ 
<body>
    Home Page
    <br />
    <a asp-action="Index" asp-controller="Category">Категории </a>
    <br />
    <a asp-action="Index" asp-controller="Brand">Бренды </a>
    <br />
    <a asp-action="Index" asp-controller="Material">Материалы </a>
    <br />
    <a asp-action="Index" asp-controller="Sneaker">Кроссовки </a>
    <br />
    <a asp-action="Index" asp-controller="Img">Изображения </a>
    <br />
    <a asp-action="Index" asp-controller="Product">Товары </a>
    <br />
    <a asp-action="Index" asp-controller="Size">Размеры </a>
    <br />

    <a asp-action="Index" asp-controller="User">Пользователи</a>
</body>
}