<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">SneakerShop</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <div class="dropdown mr-lg-auto mt-lg-auto">
                    <button class="btn btn-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true">
                        Бренды
                    </button>
                    <div class="dropdown-menu badge-dark border-dark" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item text-light" asp-controller="ProductView" asp-action="Index" asp-route-id="1">Adidas</a>
                        <a class="dropdown-item text-light" asp-controller="ProductView" asp-action="Index" asp-route-id="5">Asics</a>
                        <a class="dropdown-item text-light" asp-controller="ProductView" asp-action="Index" asp-route-id="6">New Balance</a>
                        <a class="dropdown-item text-light" asp-controller="ProductView" asp-action="Index" asp-route-id="2">Nike</a>
                        <a class="dropdown-item text-light" asp-controller="ProductView" asp-action="Index" asp-route-id="7">Karhu</a>
                        <a class="dropdown-item text-light" asp-controller="ProductView" asp-action="Index" asp-route-id="8">Puma</a>
                        <a class="dropdown-item text-light" asp-controller="ProductView" asp-action="Index" asp-route-id="3">Reebok</a>
                        <a class="dropdown-item text-light" asp-controller="ProductView" asp-action="Index" asp-route-id="10">Vans</a>


                    </div>
                </div>

                <form class="form-inline my-2 my-lg-0" asp-controller="ProductView" asp-action="Search" method="get">
                    <input type="text" class="form-control" placeholder="Search" name="searchString" value="@ViewData["searchString"]">   
                </form>

                <a asp-action="Index" asp-controller="Card" class="navbar-brand mr-5 ml-3">
                    <img src="~/icons/shopping-cart.svg" width="30" height="30" alt="shopping" />
                </a>

                @if (User.Identity.IsAuthenticated)
                {

                    <ul class="navbar-nav mr-lg-left mr-3 mt-lg-0">
                        <li class="nav-item active">
                            <p class="text-light">Hello, @User.Identity.Name </p>
                        </li>
                    </ul>

                    <form  class="form-inline my-2 my-lg-0" method="post" asp-controller="Account" asp-action="LogOff">
                        
                        <ul class="navbar-nav mr-lg-left mt-lg-auto ">
                            <li class="nav-item active">
                                <input class="btn btn-light " type="submit" value="Выход"/>
                            </li>
                        </ul>
                        
                    </form>
                }
                else
                {
                    <ul class="navbar-nav mr-lg-left mr-3 mt-lg-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Войти</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav mr-lg-left mr-5 mt-lg-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Account" asp-action="Register">Регистрация</a>
                        </li>
                    </ul>
                }
                <!-- #region Modal -->
                <div class="modal fade" id="authmodal" tabindex="-1" role="dialog"
                     aria-labelledby="authmodal" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title mr-5" id="authmodalLabel">Авторизация</h4>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <form>
                                        <div class="form-group">
                                            <label for="authEmail">Email</label>
                                            <input type="email" class="form-control" id="authEmail"
                                                   aria-describedby="emailHelp" placeholder="Enter email" />
                                        </div>
                                        <div class="form-group">
                                            <label for="authPass">Password</label>
                                            <input type="password" class="form-control" id="authPass"
                                                   placeholder="Enter password" />
                                        </div>
                                        <button class="btn btn-primary btn-success " type="submit">Войти</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="registrationmodal" tabindex="-1" role="dialog"
                     aria-labelledby="authmodal" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title mr-5" id="authmodalLabel">Регистрация</h4>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <form>
                                        <div class="form-group">
                                            <label for="authEmail">Login</label>
                                            <input type="text" class="form-control" id="authLogin"
                                                   aria-describedby="" placeholder="Enter login" />
                                        </div>
                                        <div class="form-group">
                                            <label for="authPass">Password</label>
                                            <input type="password" class="form-control" id="authPass"
                                                   placeholder="Enter password" />
                                        </div>

                                        <div class="form-group">
                                            <label for="authPass">Confirm password</label>
                                            <input type="password" class="form-control" id="authPass"
                                                   placeholder="Enter password" />
                                        </div>

                                        <div class="form-group">
                                            <label for="authEmail">Email</label>
                                            <input type="email" class="form-control" id="authEmail"
                                                   aria-describedby="emailHelp" placeholder="Enter email" />
                                        </div>

                                        <button class="btn btn-primary btn-success " type="submit">Зарегистрироваться</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- #endregion -->

            </div>
        </nav>
    </header>
    @RenderBody()
        @RenderBody()
        
</body>
</html>