@model Sneaker.Models.Brand
@{
    ViewBag.Title = "Добавление бренда";
}

@{
<html>
<head>
</head>
<body>
    <a asp-action="Index">Назад</a>

    <br>
    <form asp-action="Create" asp-controller="Brand">
        <div class="form-group">
            <label asp-for="BrandName" class="control-label">Название</label>
            <input type="text" asp-for="BrandName" class="form-control" />
            <span asp-validation-for="BrandName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">Описание</label>
            <input type="text" asp-for="Description" class="form-control" />
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Send" class="btn btn-default" />
        </div>
    </form>
</body>
</html>

}