a{
    color: #000000;

}

 a:hover {
        text-decoration: none;
        color: #000000
}

.navbar-brand-my {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    line-height: inherit;
    white-space: nowrap;
    margin-left: 14%;
    text-align:center;

    
}
